body{
  text-align: center;
}

table {
  margin: 0 auto;
}

td {
  width: 100px;
  height: 100px;
}

/*ORDER: top right bottom left
for verticalMiddle: left & right */
.verticalMiddle {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: black;
}

/*ORDER: top right bottom left
for horizontalMiddle: top & bottom*/
.horizontalMiddle td {
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: black;
}

#middleBox {
  border: 1px solid black;
}