td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0;
}

.verticalMiddle {
/*ORDER: top right bottom left
for verticalMiddle: left & right */
  border: 0 1px 0 1px solid black;
}

.horizontalMiddle {
/*ORDER: top right bottom left
for horizontalMiddle: top & bottom*/
}