.container {
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  font-family: Source Sans Pro;
}

.date {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3498db;

}

.blogpost {

}

div {

}

h2 {
  color: #2c3e50;
}