.container {
  border: 20px solid #bdc3c7;
  padding: 20px;
  width: 50%;
  margin: 25px auto;
  font-family: Source Sans Pro;
  font-size: 15px;
}

.date {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3498db;
  margin: 0 auto;
}

h2 + p {
  border-left: 5px solid #bdc3c7;
  padding-left: 5px;

}

h2 {
  color: #2c3e50;
}

/* Inset, by Dan Eden */
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}