p {
/*Content - Width and Height*/
width: 50%;

/*Border*/
border: 2px solid blue;

/*Padding*/
/*padding: 10px;*/
padding-left: 40px;

/*Margin*/
margin: 100px;

}


/*Content - Width and Height*/

/*Border*/

/*Padding*/

/*Margin*/

/*Content - Width and Height*/

/*Border*/

/*Padding*/

/*Margin*/
